extends layouts/layout

block layout-content
  .container
    h1 О Meadowlark Travel
    if randomText
      blockquote #{randomText}
    else
      p Error
block append styles
  style.
    h1 {
      color: green;
    }
